.company_container,
.companies_container{
	border:1px solid lightgray;
	border-radius:5px;
	.title{
		font-size:25px;
		font-weight:bold;
		background-color: lightgray;
		padding:20px;
		margin-top:0px;
	}
	.company,
	.company_details{
		margin: 20px;
    	border: 1px solid #d3d3d3;
    	border-radius: 5px;
		.title{
			font-size:20px;
			color:#4169e1;
			display:block;
		}
		.address,
		.address_value,
		.revenue,
		.revenue_value,
		.phone,
		.phone_value{
			padding-left:20px;
		}
		.viewmore{
			font-size:13px;
			font-weight:bold;
			background-color: lightgray;
			display:block;
			padding:10px 0 10px 20px;
		}
	}
}