.company_container,
.companies_container{
	border:1px solid lightgray;
	border-radius:5px;
	.title{
		font-size:25px;
		font-weight:bold;
		background-color: lightgray;
		padding:20px;
		margin-top:0px;
		overflow:auto;
		.edit_company{
			display: inline-block;
		    float: right;
		    font-size: 20px;
		    cursor:pointer;
		}
	}
	.company,
	.company_details{
		margin: 20px;
    	border: 1px solid #d3d3d3;
    	border-radius: 5px;
		.title{
			font-size:20px;
			color:#4169e1;
			display:block;
		}
		.address,
		.revenue,
		.phone,
		.name{
			font-weight:bold;
		}
		.address_value,
		.revenue_value,
		.phone_value{
			padding: 7px 5px 7px 0px;
		}
		.address_input,
		.revenue_input,
		.phone_input{
			display:block;
		}
		.company_details_container,
		.company_details_container_form{
			padding:20px;
		}
		.companies_summary_container{
			.address,
			.revenue,
			.phone{
				padding-left:20px;
			}
		}
		.viewmore{
			font-size:13px;
			font-weight:bold;
			background-color: lightgray;
			display:block;
			padding:10px 0 10px 20px;
		}
	}
}