.people_container{
	border:1px solid lightgray;
	border-radius:5px;
	.title{
		font-size:25px;
		font-weight:bold;
		background-color: lightgray;
		padding:20px;
		margin-top:0px;
	}
	.people{
		padding-left:30px;
	}
	.viewmore{
			font-size:13px;
			font-weight:bold;
			background-color: lightgray;
			display:block;
			padding:10px 0 10px 20px;
	}
}