.people_container{
	border:1px solid lightgray;
	border-radius:5px;
	.title{
		font-size:25px;
		font-weight:bold;
		background-color: lightgray;
		padding:20px;
		margin-top:0px;
		overflow:auto;
		.edit_person{
			display: inline-block;
		    float: right;
		    font-size: 20px;
		    cursor:pointer;
		}
	}
	.people_details,
	.person_details{
		margin: 20px;
    	border: 1px solid #d3d3d3;
    	border-radius: 5px;
    	.people{
			padding-left:30px;
			.people_delete{
				padding-right:30px;
				float:right;
			}
		}
		.title{
			font-size:20px;
			color:#4169e1;
			display:block;
		}
		.address,
		.company,
		.name{
			font-weight:bold;
		}
		.address_value,
		.name_value{
			padding: 7px 5px 7px 0px;
		}
		.address_input,
		.phone_input{
			display:block;
		}
		.person_details_container,
		.person_details_container_form{
			padding:20px;
		}
		.people_summary_container{
			.address,
			.revenue,
			.phone{
				padding-left:20px;
			}
		}
		.viewmore{
			font-size:13px;
			font-weight:bold;
			background-color: lightgray;
			display:block;
			padding:10px 0 10px 20px;
		}
	}
}